
@{
    ViewData["Title"] = "Features";
}

<section class="page">
    <!-- ***** Page Top Start ***** -->
    <div class="cover" data-image="~/assets/images/photos/parallax-cover.jpg">
        <div class="page-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Features</h1>
                    </div>
                    <div class="col-lg-12">
                        <ol class="breadcrumb">
                            <li><a href="blue-index.html">Home</a></li>
                            <li class="active">Features</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Page Top End ***** -->
    <!-- ***** Page Content Start ***** -->
    <div class="page-bottom">
        <div class="container margin-bottom-10">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <a class="services" asp-controller="Features" asp-action="FeatureSingle">
                        <div class="icon">
                            <img src="~/assets/images/photos/icons/1.png" alt="">
                        </div>
                        <div class="text">
                            <h5 class="services-title">Expanded image diff support</h5>
                            <p>Sed a arcu a diam lobortis males uada eget in orci. Donec non dignissim lectus, aliquet.</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <a class="services" asp-controller="Features" asp-action="FeatureSingle">
                        <div class="icon">
                            <img src="~/assets/images/photos/icons/2.png" alt="">
                        </div>
                        <div class="text">
                            <h5 class="services-title">Extensive editor integrations</h5>
                            <p>Aliquam fermentum orci eros, id lacinia arcu maximus condimentum. Proin sem sapien.</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <a class="services" asp-controller="Features" asp-action="FeatureSingle">
                        <div class="icon">
                            <img src="~/assets/images/photos/icons/3.png" alt="">
                        </div>
                        <div class="text">
                            <h5 class="services-title">Community supported</h5>
                            <p>Nunc efficitur nisl elementum, tincidunt tellus at, dignissim libero. Nunc ut sem quam.</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <a class="services" asp-controller="Features" asp-action="FeatureSingle">
                        <div class="icon">
                            <img src="~/assets/images/photos/icons/4.png" alt="">
                        </div>
                        <div class="text">
                            <h5 class="services-title">Syntax highlighted diffs</h5>
                            <p>Maecenas purus nisi, vehi cula id vehicula vel, bibendum vitae risus. Nunc massa nulla.</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <a class="services" asp-controller="Features" asp-action="FeatureSingle">
                        <div class="icon">
                            <img src="~/assets/images/photos/icons/5.png" alt="">
                        </div>
                        <div class="text">
                            <h5 class="services-title">Vectorel shape editing</h5>
                            <p>Curabitur consequat purus auctor convallis dignissim. Duis eu tortor sed augue tempor.</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <a class="services" asp-controller="Features" asp-action="FeatureSingle">
                        <div class="icon">
                            <img src="~/assets/images/photos/icons/6.png" alt="">
                        </div>
                        <div class="text">
                            <h5 class="services-title">Non-destructive editing</h5>
                            <p>Etiam congue id magna at auctor. Sed pellentesque ultricies nisi, ac finibus loremt.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Page Content End ***** -->
    <!-- ***** Counter Parallax Start ***** -->
    <div class="parallax-counter" id="counter">
        <div class="parallax-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="count-item">
                            <strong>96</strong>
                            <span>Project<br>Complate</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="count-item">
                            <strong>190</strong>
                            <span>Happy<br>Customer</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="count-item">
                            <strong>12</strong>
                            <span>Experienced<br>Staff</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="count-item">
                            <strong>46</strong>
                            <span>Ongoing<br>Project</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Counter Parallax End ***** -->
    <!-- ***** Features Big Item Start ***** -->
    <div class="section padding-bottom-80 colored" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-bottom-fix">
                    <div class="left-heading">
                        <h2 class="section-title">Cloud Services</h2>
                    </div>
                    <div class="left-text">
                        <p>Phasellus vitae velit sit amet diam semper commodo quis quis libero. Morbi consequat arcu augue, molestie faucibus metus ullamcorper vel.</p>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <a class="btn-home active" href="#">
                                    <i class="fa fa-angle-right"></i>
                                    <span>NearCloud</span>
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <a class="btn-home" href="#">
                                    <i class="fa fa-angle-right"></i>
                                    <span>Office Cloud</span>
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <a class="btn-home" href="#">
                                    <i class="fa fa-angle-right"></i>
                                    <span>Backup Systems</span>
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <a class="btn-home" href="#">
                                    <i class="fa fa-angle-right"></i>
                                    <span>Hybrid Cloud</span>
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <a class="btn-home" href="#">
                                    <i class="fa fa-angle-right"></i>
                                    <span>API Cloud</span>
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <a class="btn-home" href="#">
                                    <i class="fa fa-angle-right"></i>
                                    <span>SDK Cloud</span>
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <a class="btn-home" href="#">
                                    <i class="fa fa-angle-right"></i>
                                    <span>Web Services</span>
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <a class="btn-home" href="#">
                                    <i class="fa fa-angle-right"></i>
                                    <span>Cloud Hosting</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-5 col-md-12 col-sm-12 align-self-center mobile-bottom-fix" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <img src="~/assets/images/photos/features/blue-1.png" class="img-fluid d-block mx-auto" alt="App">
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Features Big Item End ***** -->
</section>

